<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="note.recordAndShare.mapper.ReportNoteMapper">
    <select id="selAllReportNote" resultType="note.recordAndShare.entity.dto.ReportNoteDto">
        select *
        from reportNote r
                 join note n on r.noteId = n.id
    </select>
    <select id="selReportNoteInfoById" resultType="note.recordAndShare.entity.dto.ReportNoteDto">
        select *
        from reportNote r
                 join note n on r.noteId = n.id
        where r.noteId = #{noteId}
        order by time desc
        limit 1
    </select>
    <select id="selAllReportNoteMessageById" resultType="java.lang.String">
        select message
        from reportNote
        where noteId = #{noteId}
    </select>
</mapper>
